body {
    background-color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: red;
}

.container{
    display: flex;
    border: red 30px;
  }
  
  .user-grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(54, 42, 231);
    margin: 30px;
    

  }
  .AI-grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(11, 77, 80);
    margin: 30px;
    border:rgb(231, 42, 42) 5 px;
  }
  .grid div{
    width: 50px;
    height: 50px;
  }
  
  .grid-display{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color:rgb(231, 42, 42);
  }
  